.loader {
	z-index: 9999;
	background-color: rgba(0,0,0, 0.2);
	height: 100% !important;
  width: 100% !important;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;

}

.loader .loading-spinner {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #3498db;
	width: 100px;
	height: 100px;
	-webkit-animation: spin 0.78s linear infinite; /* Safari */
  animation: spin 0.78s linear infinite;
  margin:auto;
  margin-top: 44vh;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
