.Message p {
  border-radius: 8px;
}

.receivedMessage p {
  background-color: #ddd;
  border-radius: 10px 10px 10px 0;
}

.sentMessage p {
  background-color: #c6d6f8;
  border-radius: 10px 10px 0 10px;
}