.chatCard {
  border-top: 1px solid #ddd;
}

.chatCard p, span {
  color: #000;
}

.chatCard--lastMessageDate {
  font-size: 10px;
}

.chatCard--lastMessage {
  font-size: 15px;
}

.chatCard--name {
  font-size: 20px;
}

.chatCard--link:hover {
  text-decoration: none;
}

.chatCard:hover {
  background-color: #F5F5F5;
}